.input-container {
    position: relative;
    width: 313px;
}

.input-icon {
    position: absolute;
    top: 19px;
    right: 15px;
    color: rgba(0, 0, 0, 0.35);
}

.input-text {
    margin: 5px 0;
    width: 313px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Advent Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding:12px;
    color: rgba(0, 0, 0, 0.35);
}